.App {
  margin: 0 auto;
  width: 390px;
  height: 100vh;
  background-color: rgb(231, 169, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  height: 45px;
  width: 300px;
}

.btn {
  margin-bottom: 10px;
}
